* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-size: inherit;
    font-family: helvetica neue, sans-serif;
    letter-spacing: 1px;
    text-decoration: none;
    color: black;
    display: block;
    overflow: auto;
    position: static;
    vertical-align: baseline;
    color: inherit;
    border-radius: 2px;
    -webkit-font-smoothing: subpixel-antialiased;
}

title {
    display: none;
}

* {
    transition: 0.1s;
    font-weight: light;
}

.clearfix {
    clear: both;
    content: "";
    display: table;
}

body {
    background: #eee;
}
/* HEADER */
header {
    color: black;
    text-transform: uppercase;
    border-bottom: 1px solid #aaa;
    background-color: white;
    height: 60px;
    line-height: 60px;
    margin-bottom: 25px;
}

header * {
    margin: 0;
}

heading {
    display: inline;
    font-weight: normal;
    letter-spacing: 2px;
}

nav {
    margin: 2px;
    float: right;
}

nav > ul > li {
    float: left;
}

.link-square {
    background: white;
    width: 20px;
    height: 20px;
    margin-top: 18px;
    margin-left: 10px;
}


/* MAIN */
#boggle-board {
}

.cell {
    float: left;
    text-align: center;
    background: white;
    margin-right: 4%;
}

.cell > .letter-element {
    padding-top: 50%;
    height: 0;
    overflow: visible;
    line-height: 0;
}

.cell:last-child {
    margin-right: 0;
}

.highlighted {
    background: #66f;
    color: white;
}

#right-container > #word-list li, #right-container p {
    padding: 5px;
    background: white;
}

#word-list {
}

.listed-word {
    line-height: 20px;
/*    box-sizing: content-box;*/
}

.listed-word aside {
    border-radius: 50%;
    margin-right: 10px;
    float: left;
    background: #66f;
    color: white;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: middle;
    line-height: 20px;
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 0;
}