* {
    /* reset */
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    font-size: inherit;
    font-family: helvetica neue, sans-serif;
    text-decoration: none;
    color: black;
    display: block;
    overflow: auto;
    position: static;
    vertical-align: baseline;
    color: inherit;
    -webkit-font-smoothing: subpixel-antialiased;
}

title {
    /* undo reckless resetting using * :P */
    display: none;
}

* {
    transition: 0.1s;
    border-radius: 2px;
    font-weight: light;
    letter-spacing: 1px;
}

body {
    background: #eee;
}